---
layout: wrapper
---

<section class="mt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-3 mt-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><b>General info</b></h5>
						<hrule>
						<ul class="list-group list-group-flush">
							{% for item in site.data.course_info[page.uniqname] %}
								<li class="list-group-item"><b>{{ item[0] }}:</b> {{ item[1] }}</li>
							{% endfor %}
						</ul><br>
						{% assign tab_links_id = page.uniqname | append: "_tab_links" %}
						{% assign links_id = page.uniqname | append: "_links" %}
						<h5 class="card-title"><b>Useful links</b></h5>
						<ul class="list-group list-group-flush">
							{% for item in site.data.course_info[tab_links_id] %}
								<li class="list-group-item"><a href="{{ item[1] }}" target="_blank"><b>{{ item[0] }}</b></a></li>
							{% endfor %}
							{% for item in site.data.course_info[links_id] %}
								<li class="list-group-item"><a href="{{ item[1] }}"><b>{{ item[0] }}</b></a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-7 mt-3">
				<h2><b>{{ page.title }}</b></h2>
				<b>{{ page.subtitle }}</b>
				{{ content }}
			</div>
		</div>
	</div>
</section>

<section class="mt-5"></section>

