---
layout: wrapper
---

<section class="mt-5">
	<div class="container">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div class="p-3">
				<h1>Welcome to my website!</h1>
				<p>I'm a third year graduate student at George Washington University working on a PhD in mathematics. My interests are in low dimensional topology (specifically knot theory), and my advisor is Professor Józef H. Przytycki. When I'm not doing math, I enjoy reading, cooking, and biking around DC&mdash;ask me about the Capital Bikeshare program! Here you can find my research work and CV, and if you're a student in Math 1232 this summer, you can find our course homepage.</p>
				<img style="max-width: 700px; width:95%" src="assets/img/J_p.svg">
				<h4>Contact</h4>
				You can email me at ben(DOT)clingenpeel(AT)gwu(DOT)edu.
			</div>
			<div class="p-4"></div>
			<img style="max-height: 450px" class="img-thumbnail w-50 d-none d-md-block p-2" src="assets/img/about_photo.png">
		</div>
	</div>
</section>

{{ content }}
